<table id="customers">
  <tr>
    <th>Truck</th>
    <th>Distance(KM)</th>
    <th>Weight(Tons)</th>
  </tr>
  <tr>
    <td>Mercedes T1</td>
    <td>5025,23</td>
    <td>121,24</td>
  </tr>
  <tr>
    <td>Volvo v6</td>
    <td>2025,23</td>
    <td>312,24</td>
  </tr>
  <tr>
    <td>Scania s300</td>
    <td>322,23</td>
    <td>15,42</td>
  </tr>
  <tr>
    <td>Mercedes T2</td>
    <td>3256,54</td>
    <td>123,56</td>
  </tr>
  <tr>
    <td>Mercedes T1</td>
    <td>5025,23</td>
    <td>12,24</td>
  </tr>
  <tr>
    <td>Mercedes T1</td>
    <td>5025,23</td>
    <td>12,24</td>
  </tr>
  <tr>
    <td>Mercedes T1</td>
    <td>5025,23</td>
    <td>12,24</td>
  </tr>
  <tr>
    <td>Mercedes T1</td>
    <td>5025,23</td>
    <td>12,24</td>
  </tr>

</table>
