<div class="col-md-6 col-md-offset-3" >
<div>
<label>Interesting Destination</label>
<input type="text"  class="form-control" size="40" (input) ="OnDesti($event)" />
</div>
<br />
<div class="form-group">
  <button [disabled]="loading"  class="btn btn-primary"  (click)="getLatLong()">Get It!</button>
</div>
<br />
</div>


<div class="col-sm-11" >
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-direction [origin]="origin"  [waypoints]="waypoints"  [destination]="destination">

  </agm-direction>






</agm-map>
</div>

